USE [master]
GO
/****** Object:  Database [SRMSSDB]    Script Date: 7/2/2026 5:47:09 AM ******/
CREATE DATABASE [SRMSSDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SRMSSDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SRMSSDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SRMSSDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SRMSSDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SRMSSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SRMSSDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/2/2026 5:47:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Activities]    Script Date: 7/2/2026 5:47:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[ActivityID] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[ActivityDate] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ActivityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 7/2/2026 5:47:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[RouteCode] [nvarchar](20) NOT NULL,
	[BusNumber] [nvarchar](20) NOT NULL,
	[SeatNumber] [int] NOT NULL,
	[PassengerName] [nvarchar](100) NOT NULL,
	[PassengerPhone] [nvarchar](20) NULL,
	[PassengerEmail] [nvarchar](100) NULL,
	[BookingDate] [datetime] NOT NULL,
	[JourneyDate] [date] NOT NULL,
	[TicketPrice] [decimal](10, 2) NOT NULL,
	[BookingStatus] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 7/2/2026 5:47:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[DriverID] [int] IDENTITY(1,1) NOT NULL,
	[DriverName] [varchar](100) NOT NULL,
	[LicenseNumber] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Address] [varchar](200) NULL,
	[DateOfBirth] [date] NULL,
	[LicenseExpiryDate] [date] NULL,
	[AssignedRoute] [varchar](100) NULL,
	[WorkingHours] [varchar](50) NULL,
	[Status] [varchar](20) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FuelLogs]    Script Date: 7/2/2026 5:47:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuelLogs](
	[FuelLogID] [int] IDENTITY(1,1) NOT NULL,
	[BusNumber] [varchar](20) NOT NULL,
	[RouteCode] [varchar](20) NOT NULL,
	[FuelDate] [date] NOT NULL,
	[FuelQuantity] [decimal](6, 2) NULL,
	[FuelCost] [decimal](10, 2) NULL,
	[OdometerReading] [int] NULL,
	[FuelStation] [varchar](100) NULL,
	[RecordedBy] [varchar](100) NULL,
	[Remarks] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[FuelLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceLogs]    Script Date: 7/2/2026 5:47:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceLogs](
	[MaintenanceID] [int] IDENTITY(1,1) NOT NULL,
	[BusNumber] [varchar](20) NOT NULL,
	[MaintenanceDate] [date] NOT NULL,
	[MaintenanceType] [varchar](30) NULL,
	[Description] [varchar](200) NULL,
	[ServiceCost] [decimal](10, 2) NULL,
	[NextServiceDate] [date] NULL,
	[MechanicName] [varchar](100) NULL,
	[Status] [varchar](30) NULL,
	[Remarks] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaintenanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Routes]    Script Date: 7/2/2026 5:47:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[RouteID] [int] IDENTITY(1,1) NOT NULL,
	[RouteCode] [varchar](20) NOT NULL,
	[RouteName] [varchar](100) NOT NULL,
	[StartPoint] [varchar](100) NOT NULL,
	[EndPoint] [varchar](100) NOT NULL,
	[Stops] [varchar](300) NULL,
	[TotalDistance] [decimal](6, 2) NULL,
	[AssignedBus] [varchar](20) NULL,
	[AssignedDriver] [varchar](100) NULL,
	[RouteStatus] [varchar](20) NULL,
	[DepartureTime] [time](7) NULL,
	[ArrivalTime] [time](7) NULL,
	[TotalSeats] [int] NOT NULL,
	[TicketPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RouteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 7/2/2026 5:47:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[RouteCode] [varchar](20) NOT NULL,
	[BusNumber] [varchar](20) NOT NULL,
	[DriverName] [varchar](100) NOT NULL,
	[ScheduleDate] [date] NOT NULL,
	[DepartureTime] [time](7) NOT NULL,
	[ArrivalTime] [time](7) NOT NULL,
	[TripType] [varchar](20) NULL,
	[TripStatus] [varchar](30) NULL,
	[Remarks] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/2/2026 5:47:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[Status] [varchar](20) NOT NULL,
	[CreatedDate] [date] NULL,
	[ProfileImage] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 7/2/2026 5:47:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[BusNumber] [varchar](20) NOT NULL,
	[BusModel] [varchar](100) NOT NULL,
	[BusType] [varchar](50) NOT NULL,
	[SeatingCapacity] [int] NOT NULL,
	[Mileage] [int] NULL,
	[FuelType] [varchar](20) NULL,
	[PurchaseDate] [date] NULL,
	[MaintenanceStatus] [varchar](30) NULL,
	[AvailabilityStatus] [varchar](30) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activities] ON 

INSERT [dbo].[Activities] ([ActivityID], [Message], [ActivityDate], [IsRead]) VALUES (55, N'Driver Abinajaaa updated', CAST(N'2026-07-02T03:05:41.177' AS DateTime), 1)
INSERT [dbo].[Activities] ([ActivityID], [Message], [ActivityDate], [IsRead]) VALUES (56, N'Driver Gokulan updated', CAST(N'2026-07-02T03:07:31.790' AS DateTime), 1)
INSERT [dbo].[Activities] ([ActivityID], [Message], [ActivityDate], [IsRead]) VALUES (57, N'Bus NB-1204 updated', CAST(N'2026-07-02T03:07:45.923' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Activities] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingID], [RouteCode], [BusNumber], [SeatNumber], [PassengerName], [PassengerPhone], [PassengerEmail], [BookingDate], [JourneyDate], [TicketPrice], [BookingStatus]) VALUES (1, N'R003', N'NB-1203', 6, N'Gokulan', N'0772380234', N'gokul.gokulan9@gmail.com', CAST(N'2026-06-26T01:30:43.373' AS DateTime), CAST(N'2026-07-23' AS Date), CAST(250.00 AS Decimal(10, 2)), N'Booked')
INSERT [dbo].[Bookings] ([BookingID], [RouteCode], [BusNumber], [SeatNumber], [PassengerName], [PassengerPhone], [PassengerEmail], [BookingDate], [JourneyDate], [TicketPrice], [BookingStatus]) VALUES (2, N'R004', N'NB-1204', 6, N'Gokulan', N'0772380234', N'gokul.gokulan9@gmail.com', CAST(N'2026-06-26T01:34:19.347' AS DateTime), CAST(N'2027-01-01' AS Date), CAST(700.00 AS Decimal(10, 2)), N'Booked')
INSERT [dbo].[Bookings] ([BookingID], [RouteCode], [BusNumber], [SeatNumber], [PassengerName], [PassengerPhone], [PassengerEmail], [BookingDate], [JourneyDate], [TicketPrice], [BookingStatus]) VALUES (3, N'R003', N'NB-1203', 14, N'Gokulan', N'0772380234', N'gokulatheepan@yahoo.com', CAST(N'2026-06-26T01:36:40.473' AS DateTime), CAST(N'2027-08-21' AS Date), CAST(250.00 AS Decimal(10, 2)), N'Booked')
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([DriverID], [DriverName], [LicenseNumber], [PhoneNumber], [Address], [DateOfBirth], [LicenseExpiryDate], [AssignedRoute], [WorkingHours], [Status], [Email]) VALUES (1, N'Abinajaaa', N'B452301', N'0712345678', N'Colombo', CAST(N'1985-05-10' AS Date), CAST(N'2028-05-10' AS Date), N'Colombo - Kandy', N'08 Hours', N'Assigned', N'sivakumarvanu06@gmail.com')
INSERT [dbo].[Drivers] ([DriverID], [DriverName], [LicenseNumber], [PhoneNumber], [Address], [DateOfBirth], [LicenseExpiryDate], [AssignedRoute], [WorkingHours], [Status], [Email]) VALUES (2, N'Yathusi', N'B452302', N'0763456789', N'Kandy', CAST(N'1987-08-15' AS Date), CAST(N'2029-08-15' AS Date), N'Kandy - Matale', N'9 Hours', N'Assigned', N'Yathushiniananth@gmail.com')
INSERT [dbo].[Drivers] ([DriverID], [DriverName], [LicenseNumber], [PhoneNumber], [Address], [DateOfBirth], [LicenseExpiryDate], [AssignedRoute], [WorkingHours], [Status], [Email]) VALUES (3, N'Gokulan', N'B452303', N'0754567890', N'Jaffna', CAST(N'1983-04-12' AS Date), CAST(N'2027-04-12' AS Date), N'Jaffna - Vavuniya', N'9 Hours', N'Available', N'gokul.gokulan9@gmail.com')
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
SET IDENTITY_INSERT [dbo].[FuelLogs] ON 

INSERT [dbo].[FuelLogs] ([FuelLogID], [BusNumber], [RouteCode], [FuelDate], [FuelQuantity], [FuelCost], [OdometerReading], [FuelStation], [RecordedBy], [Remarks]) VALUES (1, N'NB-1201', N'R001', CAST(N'2026-06-15' AS Date), CAST(65.00 AS Decimal(6, 2)), CAST(50000.00 AS Decimal(10, 2)), 185500, N'Colombo Fuel Station', N'Gokulan Raj', N'Morning Refill')
INSERT [dbo].[FuelLogs] ([FuelLogID], [BusNumber], [RouteCode], [FuelDate], [FuelQuantity], [FuelCost], [OdometerReading], [FuelStation], [RecordedBy], [Remarks]) VALUES (2, N'NB-1202', N'R002', CAST(N'2026-06-15' AS Date), CAST(40.00 AS Decimal(6, 2)), CAST(15000.00 AS Decimal(10, 2)), 162400, N'Kandy Fuel Station', N'Nimal Perera', N'Normal')
INSERT [dbo].[FuelLogs] ([FuelLogID], [BusNumber], [RouteCode], [FuelDate], [FuelQuantity], [FuelCost], [OdometerReading], [FuelStation], [RecordedBy], [Remarks]) VALUES (3, N'NB-1203', N'R003', CAST(N'2026-06-15' AS Date), CAST(70.00 AS Decimal(6, 2)), CAST(26250.00 AS Decimal(10, 2)), 140800, N'Jaffna Fuel Station', N'Sunil Silva', N'Long Route')
SET IDENTITY_INSERT [dbo].[FuelLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[MaintenanceLogs] ON 

INSERT [dbo].[MaintenanceLogs] ([MaintenanceID], [BusNumber], [MaintenanceDate], [MaintenanceType], [Description], [ServiceCost], [NextServiceDate], [MechanicName], [Status], [Remarks]) VALUES (1, N'NB-1201', CAST(N'2026-06-10' AS Date), N'Routine', N'Engine Oil Change', CAST(15000.00 AS Decimal(10, 2)), CAST(N'2026-09-10' AS Date), N'S. Perera', N'pending', N'Normal Service')
INSERT [dbo].[MaintenanceLogs] ([MaintenanceID], [BusNumber], [MaintenanceDate], [MaintenanceType], [Description], [ServiceCost], [NextServiceDate], [MechanicName], [Status], [Remarks]) VALUES (2, N'NB-1202', CAST(N'2026-06-11' AS Date), N'Corrective', N'Brake Pad Replacement', CAST(25000.00 AS Decimal(10, 2)), CAST(N'2026-09-11' AS Date), N'K. Silva', N'Completed', N'Safety Check')
INSERT [dbo].[MaintenanceLogs] ([MaintenanceID], [BusNumber], [MaintenanceDate], [MaintenanceType], [Description], [ServiceCost], [NextServiceDate], [MechanicName], [Status], [Remarks]) VALUES (3, N'NB-1203', CAST(N'2026-06-12' AS Date), N'Routine', N'Full Vehicle Inspection', CAST(12000.00 AS Decimal(10, 2)), CAST(N'2026-09-12' AS Date), N'N. Fernando', N'Completed', N'Normal')
SET IDENTITY_INSERT [dbo].[MaintenanceLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Routes] ON 

INSERT [dbo].[Routes] ([RouteID], [RouteCode], [RouteName], [StartPoint], [EndPoint], [Stops], [TotalDistance], [AssignedBus], [AssignedDriver], [RouteStatus], [DepartureTime], [ArrivalTime], [TotalSeats], [TicketPrice]) VALUES (3, N'R003', N'Jaffna - Vavuniya', N'Jaffna', N'Vavuniya', N'Kodikamam, Elephant Pass, Omanthai', CAST(150.00 AS Decimal(6, 2)), N'NB-1203', N'Kasun Fernando', N'Active', CAST(N'06:30:00' AS Time), CAST(N'10:00:00' AS Time), 40, CAST(250.00 AS Decimal(10, 2)))
INSERT [dbo].[Routes] ([RouteID], [RouteCode], [RouteName], [StartPoint], [EndPoint], [Stops], [TotalDistance], [AssignedBus], [AssignedDriver], [RouteStatus], [DepartureTime], [ArrivalTime], [TotalSeats], [TicketPrice]) VALUES (4, N'R004', N'Galle - Colombo', N'Galle', N'Colombo', N'Ambalangoda, Kalutara, Panadura', CAST(126.00 AS Decimal(6, 2)), N'NB-1204', N'Amal Rajapaksha', N'Active', CAST(N'07:00:00' AS Time), CAST(N'11:30:00' AS Time), 40, CAST(700.00 AS Decimal(10, 2)))
INSERT [dbo].[Routes] ([RouteID], [RouteCode], [RouteName], [StartPoint], [EndPoint], [Stops], [TotalDistance], [AssignedBus], [AssignedDriver], [RouteStatus], [DepartureTime], [ArrivalTime], [TotalSeats], [TicketPrice]) VALUES (5, N'R005', N'Anuradhapura - Dambulla', N'Anuradhapura', N'Dambulla', N'Kekirawa, Habarana', CAST(67.00 AS Decimal(6, 2)), N'NB-1205', N'Chathura Silva', N'Active', CAST(N'08:00:00' AS Time), CAST(N'11:00:00' AS Time), 40, CAST(450.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Routes] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedules] ON 

INSERT [dbo].[Schedules] ([ScheduleID], [RouteCode], [BusNumber], [DriverName], [ScheduleDate], [DepartureTime], [ArrivalTime], [TripType], [TripStatus], [Remarks]) VALUES (1, N'R001', N'NB-1201', N'Abinaja', CAST(N'2026-06-30' AS Date), CAST(N'06:00:00' AS Time), CAST(N'09:00:00' AS Time), N'Weekly', N'Completed', N'Morning Service')
INSERT [dbo].[Schedules] ([ScheduleID], [RouteCode], [BusNumber], [DriverName], [ScheduleDate], [DepartureTime], [ArrivalTime], [TripType], [TripStatus], [Remarks]) VALUES (2, N'R002', N'NB-1202', N'Yathusi', CAST(N'2026-09-26' AS Date), CAST(N'07:00:00' AS Time), CAST(N'08:00:00' AS Time), N'Daily', N'Completed', N'Normal Trip')
INSERT [dbo].[Schedules] ([ScheduleID], [RouteCode], [BusNumber], [DriverName], [ScheduleDate], [DepartureTime], [ArrivalTime], [TripType], [TripStatus], [Remarks]) VALUES (3, N'R003', N'NB-1203', N'Gokulan', CAST(N'2026-06-17' AS Date), CAST(N'06:30:00' AS Time), CAST(N'10:00:00' AS Time), N'Daily', N'Delayed', N'Heavy Traffic')
SET IDENTITY_INSERT [dbo].[Schedules] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Username], [Password], [Role], [PhoneNumber], [Email], [Status], [CreatedDate], [ProfileImage]) VALUES (1, N'Gokulan', N'admin', N'Gokul123', N'Admin', N'0772380234', N'gokul.gokulan9@gmail.com', N'Active', CAST(N'2026-06-14' AS Date), N'61b14f9a-69bb-44c8-a83c-348d6b318d07.jpeg')
INSERT [dbo].[Users] ([UserID], [FullName], [Username], [Password], [Role], [PhoneNumber], [Email], [Status], [CreatedDate], [ProfileImage]) VALUES (2, N'Nimal Perera', N'nimal01', N'nimal123', N'Supervisor', N'0712345678', N'nimal@srmss.lk', N'Active', CAST(N'2026-06-14' AS Date), NULL)
INSERT [dbo].[Users] ([UserID], [FullName], [Username], [Password], [Role], [PhoneNumber], [Email], [Status], [CreatedDate], [ProfileImage]) VALUES (3, N'Sunil Silva', N'sunil01', N'sunil123', N'Staff', N'0763456789', N'sunil@srmss.lk', N'Active', CAST(N'2026-06-14' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([VehicleID], [BusNumber], [BusModel], [BusType], [SeatingCapacity], [Mileage], [FuelType], [PurchaseDate], [MaintenanceStatus], [AvailabilityStatus], [Latitude], [Longitude]) VALUES (3, N'NB-1203', N'Volvo B8R', N'Luxury', 40, 160000, N'Diesel', CAST(N'2020-02-20' AS Date), N'Service Due', N'Available', 0, 0)
INSERT [dbo].[Vehicles] ([VehicleID], [BusNumber], [BusModel], [BusType], [SeatingCapacity], [Mileage], [FuelType], [PurchaseDate], [MaintenanceStatus], [AvailabilityStatus], [Latitude], [Longitude]) VALUES (4, N'NB-1204', N'Ashok Leyland Viking', N'Non-AC', 40, 230000, N'Diesel', CAST(N'2017-06-12' AS Date), N'Under Maintenance', N'Maintenance', 0, 0)
INSERT [dbo].[Vehicles] ([VehicleID], [BusNumber], [BusModel], [BusType], [SeatingCapacity], [Mileage], [FuelType], [PurchaseDate], [MaintenanceStatus], [AvailabilityStatus], [Latitude], [Longitude]) VALUES (6, N'NB-1206', N'Volvo B8R', N'Luxury', 40, 128000, N'Diesel', CAST(N'2021-01-25' AS Date), N'Good', N'Assigned', 0, 0)
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Drivers__E8890166DD524FC8]    Script Date: 7/2/2026 5:47:11 AM ******/
ALTER TABLE [dbo].[Drivers] ADD UNIQUE NONCLUSTERED 
(
	[LicenseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Routes__FDC3458590A2767F]    Script Date: 7/2/2026 5:47:11 AM ******/
ALTER TABLE [dbo].[Routes] ADD UNIQUE NONCLUSTERED 
(
	[RouteCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4A58514C1]    Script Date: 7/2/2026 5:47:11 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vehicles__41D291858986F9FC]    Script Date: 7/2/2026 5:47:11 AM ******/
ALTER TABLE [dbo].[Vehicles] ADD UNIQUE NONCLUSTERED 
(
	[BusNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Activities] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Booked') FOR [BookingStatus]
GO
ALTER TABLE [dbo].[Routes] ADD  DEFAULT ((40)) FOR [TotalSeats]
GO
ALTER TABLE [dbo].[Routes] ADD  DEFAULT ((0)) FOR [TicketPrice]
GO
USE [master]
GO
