@model SRMSS.Models.User

<h2>Add User</h2>

<form asp-action="Create">

    <div class="mb-2">
        <label>Full Name</label>
        <input asp-for="FullName" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Username</label>
        <input asp-for="Username" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Password</label>
        <input asp-for="Password" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Role</label>
        <input asp-for="Role" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Phone Number</label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Status</label>
        <input asp-for="Status" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Created Date</label>
        <input asp-for="CreatedDate" type="date" class="form-control" />
    </div>

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Error
        </div>
    }

    <button class="btn btn-success">
        Save
    </button>

</form>