@model SRMSS.Models.Driver

<h2>Add New Driver</h2>

<form asp-action="Create" method="post">

    <div class="mb-2">
        <label>Driver Name</label>
        <input asp-for="DriverName" class="form-control" />
    </div>

    <div class="mb-2">
        <label>License Number</label>
        <input asp-for="LicenseNumber" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Phone Number</label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Address</label>
        <input asp-for="Address" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Date Of Birth</label>
        <input asp-for="DateofBirth" type="date" class="form-control" />
    </div>

    <div class="mb-2">
        <label>License Expiry Date</label>
        <input asp-for="LicenseExpiryDate" type="date" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Assigned Route</label>
        <input asp-for="AssignedRoute" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Working Hours</label>
        <input asp-for="WorkingHours" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Status</label>
        <input asp-for="Status" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">
        Save Driver
    </button>

</form>